<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="title">Догляд за Орхідеями</div>
    <div th:fragment="date">30.07.2019</div>
    <div th:fragment="shortDescription">
        <div class="articleShotInfoImg"></div>
        <div class="articleShotInfoText">
            Багато хто знає, що переїзд для орхідеї – справжній стрес. Але ця квітка не любить навіть незначних пересувань.
            Орхідея реагує на положення по відношенню до світла. Тому, якщо існує необхідність переставити горщик з рослиною,
            необхідно розміщувати його тією ж стороною до джерела освітлення, так як і стояв раніше. Також не варто рухати орхідею
            під час поливу. Пересування несприятливо позначається на рості квітки, особливо в момент появи квітконосу.
            Багато хто знає, що переїзд для орхідеї – справжній стрес. Але ця квітка не любить навіть незначних пересувань.
            Орхідея реагує на положення по відношенню до світла. Тому, якщо існує необхідність переставити горщик з рослиною,
            необхідно розміщувати його тією ж стороною до джерела освітлення, так як і стояв раніше. Також не варто рухати орхідею
            під час поливу. Пересування несприятливо позначається на рості квітки, особливо в момент появи квітконосу.
        </div>
    </div>
    <div th:fragment="content">
        <div class="img"></div>
        Багато хто знає, що переїзд для орхідеї – справжній стрес. Але ця квітка не любить навіть незначних пересувань.
        Орхідея реагує на положення по відношенню до світла. Тому, якщо існує необхідність переставити горщик з рослиною,
        необхідно розміщувати його тією ж стороною до джерела освітлення, так як і стояв раніше. Також не варто рухати орхідею
        під час поливу. Пересування несприятливо позначається на рості квітки, особливо в момент появи квітконосу.
        Багато хто знає, що переїзд для орхідеї – справжній стрес. Але ця квітка не любить навіть незначних пересувань.
        Орхідея реагує на положення по відношенню до світла. Тому, якщо існує необхідність переставити горщик з рослиною,
        необхідно розміщувати його тією ж стороною до джерела освітлення, так як і стояв раніше. Також не варто рухати орхідею
        під час поливу. Пересування несприятливо позначається на рості квітки, особливо в момент появи квітконосу.
        Багато хто знає, що переїзд для орхідеї – справжній стрес. Але ця квітка не любить навіть незначних пересувань.
        Орхідея реагує на положення по відношенню до світла. Тому, якщо існує необхідність переставити горщик з рослиною,
        необхідно розміщувати його тією ж стороною до джерела освітлення, так як і стояв раніше. Також не варто рухати орхідею
        під час поливу. Пересування несприятливо позначається на рості квітки, особливо в момент появи квітконосу.
        Багато хто знає, що переїзд для орхідеї – справжній стрес. Але ця квітка не любить навіть незначних пересувань.
        Орхідея реагує на положення по відношенню до світла. Тому, якщо існує необхідність переставити горщик з рослиною,
        необхідно розміщувати його тією ж стороною до джерела освітлення, так як і стояв раніше. Також не варто рухати орхідею
        під час поливу. Пересування несприятливо позначається на рості квітки, особливо в момент появи квітконосу.
        Багато хто знає, що переїзд для орхідеї – справжній стрес. Але ця квітка не любить навіть незначних пересувань.
        Орхідея реагує на положення по відношенню до світла. Тому, якщо існує необхідність переставити горщик з рослиною,
        необхідно розміщувати його тією ж стороною до джерела освітлення, так як і стояв раніше. Також не варто рухати орхідею
        під час поливу. Пересування несприятливо позначається на рості квітки, особливо в момент появи квітконосу.
        Багато хто знає, що переїзд для орхідеї – справжній стрес. Але ця квітка не любить навіть незначних пересувань.
        Орхідея реагує на положення по відношенню до світла. Тому, якщо існує необхідність переставити горщик з рослиною,
        необхідно розміщувати його тією ж стороною до джерела освітлення, так як і стояв раніше. Також не варто рухати орхідею
        під час поливу. Пересування несприятливо позначається на рості квітки, особливо в момент появи квітконосу.
    </div>
</body>
</html>
